body {
    background: linear-gradient(to bottom right, #003366,  #4FD5D6, #003366);
    background-attachment:fixed;
}

.Icon{
  overflow: hidden;
  margin:30px auto;
  width:70%;
}

.Icon:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#MineDiv{
  border-radius:50%;
}

#MineDiv img{
    border-radius:50%;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}


#MineDiv:hover img{
  transform: scale(1.3);
}

#COUPDiv{
  border-radius: 30%;
}

#COUPDiv img{
  border-radius: 30%;
}

#welcomeModal{
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  margin-top: 12px;
  padding: 12px 20px 12px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}


#welcomeModal:focus{
  width: 100%;
}

#start_findTheMine{
 padding-left: 25px;
 padding-right: 25px;

}